CompileFlags:
  Add: [-Wall, -Wextra, -pedantic, -O0, -std=c++17, -c, -DDEBUG, -D_DEBUG, -D__TEST__, -I./include/, -I./googletest/, -I./googletest/include/]
  Compiler:  clang++.exe
  CompilationDatabase: None

Completion:
  AllScopes: Yes

Index:
  Background: Skip

InlayHints:
  BlockEnd: Yes
  Designators: Yes
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
  TypeNameLimit: 24

Hover:
  ShowAKA: Yes

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: None
