CompileFlags:
  Add: [-Wall, -Wextra, -pedantic, -O0, -std=c++23, -c, -D__TEST__, -I./include/, -IC:\Program Files\Microsoft Visual Studio\2022\Community\VC\Auxiliary\VS\UnitTest\include]
  Compiler:  clang++.exe
  CompilationDatabase: None

Completion:
  AllScopes: Yes

Index:
  Background: Skip

InlayHints:
  BlockEnd: Yes
  Designators: Yes
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
  TypeNameLimit: 24

Hover:
  ShowAKA: Yes

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: None
